$bg-pink: rgba(224,36,91,0.1);

.heart-animation{
    width: 80px;
    height: 80px;
    background-image: url('https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png');
    background-size: 2900%;
    &.animated {
        animation: like 1s steps(28) forwards;
    }
    &:hover {
        cursor: pointer;
        background-color: $bg-pink;
        border-radius: 50%;
    }

}

@keyframes like {
    from {
        background-position: left

    }
    to {
        background-position: right;
    }
    
}