*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.loader {
    display: flex;
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 20px;
    background-color: red;
    animation-name: loader;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-duration: 700ms;
    animation-iteration-count: infinite;

}

@for $i from 2 through 15 {
    .circle:nth-child(#{$i}){
        animation-delay:#{150ms * ($i - 1)};
    }
  }

@keyframes loader {
   from {
       transform: translateY(0px) scale(0.3);
       background-color: rebeccapurple;

   }
   to {
    transform: translateY(100px) scale(1);
    background-color: aquamarine;

   }

}